/* 공통 스타일 */
.hide {display : none !important}
body{height: 100vh; overflow: hidden;}
body, .wrap{background-color: #cdf0eb; padding: 0; margin: 0; }
.wrap{width: 100%; background-color: #CDF0EB99; position: relative; font-family: "Pretendard Variable", Pretendard; overflow-y: scroll; height:100vh ;}
@media (min-width: 768px) {
    .wrap{width: 768px; margin: 0 auto;}
}
/* 헤더 */
.content-header{ position: fixed; top: 0; background-color: #fff; display: grid; grid-template-columns: repeat(2, 1fr); align-items: center; justify-content: space-between; height: 50px; width:100%; z-index: 99999;}
.content-header .date {display: grid; grid-template-columns: repeat(2, auto);  align-items: end;  width: fit-content; margin-left: 25px; color: #212121;}
.content-header .date .day{font-size: 17px; font-weight: bold;}
.content-header .date .today{font-size: 12px; padding-left: 5px;}
.content-header div:nth-child(2) {justify-self: end; padding-right: 40px;}

.content-body{margin-top: 50px;}
/* 콘텐츠 상단 - 사용자정보 + 배너 */
.content-body .body-user-area{padding-top: 10px; }
/* 사용자 정보 */
.body-user-area .userinfo{width: 95%;height: 150px; display: grid; grid-template-columns: 1.7fr 1fr; grid-template-rows: 2fr 1fr; align-items: center; margin: 0 auto;}
.body-user-area .userinfo .user-type{margin-left: 15px; font-size: 25px; cursor: pointer;}
.body-user-area .userinfo .user-type .type-title span{font-weight: bold;}
.body-user-area .userinfo .user-type .type-detail{color: #00746B80; font-size: 14px; padding-top: 10px;}
/* 사용자 포인트 */
.body-user-area .userinfo .user-point{margin-left: 15px; width: 210px; height: 35px; background-color: #FFFFFF9a; border-radius: 20px; padding: 0 10px; display:flex; align-items: center; gap: 5px; cursor: pointer;}
.body-user-area  .userinfo .user-point span:nth-child(1){font-size: 12px; color: #fff; background-color: #ED8F34; border-radius: 100%; width: 16px; height: 16px; display: flex; justify-content: center; align-items: center;}
.body-user-area .userinfo .user-point span:nth-child(3){font-size: 12px; color: #21212173;}
.body-user-area .userinfo .type-img{height: -webkit-fill-available; grid-column: 2/3; grid-row: 1/3; background-position: center; background-size: contain; background-repeat: no-repeat;}
/* 배너 */
.body-user-area .banner{background-color: #fff; font-size: 16px; padding: 25px 22px; margin: 10px; border-radius: 12px; background-size: contain; background-repeat: no-repeat; background-position: 100%; font-weight: 600; cursor: pointer;}
.body-user-area .banner div:nth-child(1){color: #B1B1B1; font-size: 13px; padding-bottom: 5px; font-weight: 500;} 

/* 콘텐츠 하단 - 진행 프로그레스 + 일일 컨텐츠 */
.content-body .body-action-area{background-color: #fff; border-radius: 20px 20px 0 0 ; height: 100%; padding: 15px 12px 70px;}
/* 진행 프로그레스 */
.body-action-area .action-progress{padding: 15px; background-color: #CDF0EB99; width: -webkit-fill-available; border-radius: 18px; display: grid; grid-template-columns: 3fr 1fr; cursor: pointer; overflow: hidden;}
.body-action-area .action-progress > div:nth-child(1){font-weight: 18px; font-weight: 600; display:flex; align-items: center;}
/* 큰 퍼센트 표시 */
.body-action-area .action-progress .percent{justify-self: end; font-size: 25px; color: #32A59C; font-weight: 700;}
/* 프로그래스바 영역 */
.body-action-area .action-progress .arang-progress-bar{height: 80px; grid-column: 1/3; }
.body-action-area .action-progress .arang-progress-bar.level-1 .helper1{display: block !important;}
.body-action-area .action-progress .arang-progress-bar.level-1 .gift1{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-1 .gift1 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-1 .gift1 span:nth-child(2){display: block;}

.body-action-area .action-progress .arang-progress-bar.level-2 .helper2{display: block !important;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift1{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift2{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift1 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift1 span:nth-child(2){display: block;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift2 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-2 .gift2 span:nth-child(2){display: block;}

.body-action-area .action-progress .arang-progress-bar.level-3 .helper3{display: block !important;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift1{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift2{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift3{background-color: #65DBCC;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift1 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift1 span:nth-child(2){display: block;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift2 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift2 span:nth-child(2){display: block;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift3 span:nth-child(1){display: none;}
.body-action-area .action-progress .arang-progress-bar.level-3 .gift3 span:nth-child(2){display: block;}
/* 바- 설명(말풍선) */
.body-action-area .action-progress .arang-progress-bar .progress-helper{height: 50px; font-size: 10px; color: #fff; font-weight: 500; position: relative;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper{background-color: #2C2D2D; border-radius: 8px; padding: 7px 15px; width:180px; box-sizing: border-box; /*box-sizing 설정*/ position: absolute; top: 10%; display: none;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper1::after,
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper2::after{content: ''; position: absolute; left: 8px; top: 15px; width: 0; height: 0; border: 10px solid transparent; border-right-color: #2C2D2D;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper3::after{content: ''; position: absolute; right: 8px; top: 15px; width: 0; height: 0; border: 10px solid transparent; border-left-color: #2C2D2D;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper1{left: 18%;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper2{right: 0%;}
.body-action-area .action-progress .arang-progress-bar .progress-helper .helper3{right: 1%;}
/* 바- 꾸밈(선물상자) */
.body-action-area .action-progress .arang-progress-bar .progress-gift{width: 119%; position: absolute; top: 45px; z-index: 10; display: flex; align-items: center; justify-content: space-evenly;}
.body-action-area .action-progress .arang-progress-bar .progress-gift div{width: 30px; height: 30px; background-color: #fff; border-radius: 100%; display: flex; justify-content: center; align-items: center; font-size: 15px;}
.body-action-area .action-progress .arang-progress-bar .progress-gift div span:nth-child(2){display: none;}
/* 바- */
.body-action-area .action-progress .arang-progress-bar > div:nth-child(2){ width: -webkit-fill-available; overflow: hidden; background-color: #fff; height: 18px; border-radius: 15px; position:relative}
.body-action-area .action-progress .arang-progress-bar .progress{background: linear-gradient(to right, #96EAD7, #3ACEC2); width: 0%; height: 100%; border-radius: 0 20px 20px 0;}
/* 바- 꾸밈(퍼센테지) */
.body-action-area .action-progress .arang-progress-bar .percent1{position: absolute; left: 5px; top: 50%; font-size: 10px; transform: translate(0, -50%); font-weight: 500; color: #334240a6;}
.body-action-area .action-progress .arang-progress-bar .percent2{position: absolute; left: 100%; top: 50%; font-size: 10px; transform: translate(-130%, -50%); font-weight: 500; color: #334240a6;}

/* 일일 컨텐츠 */
.content-body .body-action-area .mission-list{padding: 10px; box-sizing: border-box;}
/* 일. 컨 레이아웃 */
.content-body .body-action-area .mission-list .mission-area{display: grid; grid-template-columns: 1fr 4fr 1.5fr; align-items: center; height: 80px;}
.content-body .body-action-area .mission-list .mission-area .mission-ico{width: 40px; height: 40px; border-radius: 100%; display: flex; align-items: center; justify-content: space-evenly; font-size: 22px;}
.quiz .mission-ico{background-color: #d6dff0;}
.routin .mission-ico{background-color: #edd1d2;}
.meal .mission-ico{background-color: #eee6cf;}
.darae .mission-ico{background-color: #f4e8d0;}
.starve .mission-ico{background-color: #f4e8d0;}
.sleep .mission-ico{background-color: #f4e8d0;}
.dayily .mission-ico{background-color: #f4e8d0;}
.content-body .body-action-area .mission-list .mission-area .mission-sub{font-size: 14px; color: #8B8B8B; padding-bottom: 5px;}
.content-body .body-action-area .mission-list .mission-area .mission-title{font-size: 17px; font-weight: 700;}
.content-body .body-action-area .mission-list .mission-area .mission-title span{color: #ED8F34;}
.content-body .body-action-area .mission-list .mission-area .mission-btn{justify-self: center; background-color: #32A59C; border-radius: 15px; width: 50px; color: #fff; font-size: 15px; font-weight: 500; text-align: center; padding: 5px;}
.content-body .body-action-area .mission-list .mission-area .mission-progress {justify-self: center;}
.content-body .body-action-area .mission-list .mission-area .mission-progress .donut { width: 50px; height: 50px; border-radius: 50%; position: relative;
background: conic-gradient( #32A59C 0% 50%, /* 진행 상태 (75%) */ #d3d3d3 0% /* 나머지 회색 */ );}
.content-body .body-action-area .mission-list .mission-area .mission-progress .donut::before { content: ""; position: absolute; top: 15%; left: 15%; width: 70%; height: 70%; background: white; border-radius: 50%;}
.content-body .body-action-area .mission-list .mission-area .mission-progress .donut span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: 500; font-size: 13px; color: #8B8B8B}
.content-body .body-action-area .mission-list .mission-area.mission-done .mission-btn{background-color: #d3d3d3;}

/* 푸터 - 하단 공통 메뉴바 */
.content-footer{position: fixed; bottom: 0; background-color: #fff; display: grid; grid-template-columns: repeat(4, 1fr); width:100%; align-items: center; justify-items: center; padding-right: 15px;}
.content-footer .footer-btn:nth-child(odd){padding-top: 10px;}
.footer-btn{padding: 8px; transform: scale(1.1); cursor: pointer;}
.footer-btn:hover{color: #9acac3;}
.footer-btn{color: #B5B5B5;}
.footer-btn.on{color: #32A59C;}


/* 이미지 적용들 */
.body-user-area .banner{background-image: url(https://cdn.imweb.me/thumbnail/20250604/9958c2a8e4d3d.png);}
.peng{background-image: url(https://cdn.imweb.me/thumbnail/20250604/76ecf3d4e38ea.png)}
.bear{background-image: url(https://cdn.imweb.me/thumbnail/20250604/1347aaf067831.png)}
.fox{background-image: url(https://cdn.imweb.me/thumbnail/20250604/d73ddd9f79a38.png)}
.hog{background-image: url(https://cdn.imweb.me/thumbnail/20250604/522d8dfce6330.png)}